@model DataLayer.Model.PageGroup

@{
    ViewData["Title"] = "Details";
}

<h2>جزئیات</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupID" class="btn btn-sm btn-warning">ویرایش</a>
    <a asp-action="Index" class="btn btn-sm btn-success">بازگشت</a>
</div>
